
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2> <br>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>FAME Honda San juan del Rio</h3>
<span class="single-project-content">
                    <img alt="Honda San Juan del Rio" src="images/fachada-honda-sanjuan.jpg"></span> 
                    
                    <li><span><i class="fa fa-home"></i>Av. Paseo Central #149</span> <span>Col. San Cayetano</span> <span>San Juan del Río, Querétaro.</span></li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div>

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.8992034879566!2d-99.98835510313295!3d20.387045426122523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d30c86988ec97d%3A0x441f8749da965c58!2sHonda+San+Juan+del+Rio!5e0!3m2!1ses-419!2smx!4v1553628445228" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>
</body>
</html>